/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #ADD8E6;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.title {
    height: 100px;
    margin: 20px;
    text-align: center;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px grey;
}

.table {
    width: 80%;
    margin: auto;
    text-align: center;
}

.card {
    width: 20%;
    height: 250px;
    float: left;
    margin: 2.5% 2.5%;
    background-position: center;
    background-size: contain;
    background-image: url(../img/pattern.png);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px grey;
}

figure {
    height: 250px;
    display: none;
    text-align: center;
    font-size: 30px;
}

img {
    width: 100%;
}

.card:hover figure {
    display: block;
    background-color: white;
}
.card:hover {
    background: none;
}

footer {
    padding: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.balloon {
    color: firebrick;
}

.bicycle {
    color: goldenrod;
}

.cruise {
    color: green;
}

.submarine {
    color: hotpink;
}

.tractor {
    color: royalblue;
}

.tram {
    color: skyblue;
}